*{
    margin:0;
    padding:0;
}


.heroPage{
    background: linear-gradient(2deg, #100F1A -40.48%, #2E2B43 98.41%);
    width: 1263px;
    height: 7334px;
 

}
.sectionOne{
    padding-top:35px ;
    padding-left: 60px ;
    padding-right: 61px;
    width: 1100x;
    height: 758px;
    flex-shrink: 0;
    border-radius: 12px;
    backdrop-filter: blur(10px);

}
.ContainerSectionOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top:15px ;
}
.imagONE{
width: 487px;
height: 416px;
}
.containerTitle{
width: 829px;
height: 74px;
flex-shrink: 0;
text-align: center;

/* H1 */
font-family: Public Sans;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
background: linear-gradient(92deg, #FFD3FF 21.59%, #E885F8 50.29%, #D473F1 76.15%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.containerParagraph{
    color: rgba(191, 172, 191, 0.60);
text-align: center;

/* subtitle */
font-family: Public Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 125% */
letter-spacing: 0.24px;
}
.buttonSection{
    display: inline-flex;
padding-right: 25px;
align-items: flex-start;
gap: 102px;
}
.TorusImag{
    position: absolute;
    z-index:10;
    right:0;
  width: 245.76px;
  height: 245.76px;
  top:399px;
}
.Ellipse1{
 
    position: absolute;
    right: 0;
    top:0;
    width: 632px;
height: 523px;
}
.SmallCube{
    position:absolute;
    z-index: 1;   
     right:50px;
    top:78px;
}
.MediumCube{
    position: absolute;
 
    top:110.41px;
    left:303.37px;

}
.Ellipse2{
    position: absolute;
    top:250px;
    left: 0;
    height: 690px;

}
.LargeCube{
    z-index: 1;
    position: absolute;
    top:480px;
    left: 0;
}
.sectionTwo{
    display: flex;
    justify-content: center;
    height: auto;
}
.Quates{
    width: 600px;
    height: 590px;
    z-index:10;
}
.Ellipse4{
    position: absolute;
    width:400px;
    z-index:1;
    top:655px;
    right: 0;
}
.cubelarge2{
    position: absolute;
    right: 200px;
    top: 1290px;
    width: 225.46px;
height: 262.938px;

}

.Torus2{
    position: absolute;
    top:1459px;
    left :135px;
    width: 154px;
height: 154px
}
.sectionTree{
    display: flex;
    justify-content: space-around;
    gap:100px;
    width: 1257.48px;
    height: 1700px;
    flex-shrink: 0;
}













.countainerTwo{
    z-index: 2;
    display: flex;
    align-items: center;
    gap:140px;
    flex-direction: column;
    padding-top:230px ;
    padding-left: 128px;
    border-radius: 12px;  
    width: 430px;
}
.sectionFour{
    display: flex;
    width: 1110px;
    height: 674px;
    padding: 48px;
    align-items: center;
    gap: 150px;
    flex-shrink: 0;
    border-radius: 60px;
  
}
.countainerFour{
    display: flex;
    height: 965px;
    padding: 42px 55px;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D473F1;  
}
.containerTwoTitle{
    width: 391px;
    height: 149px;
    flex-shrink: 0;
    color: #FFF;

    /* H3 */
    font-family: Public Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.48px;
}
.containerTwoParagraph{
    color: #FFAFF5;

/* H3 */
font-family: Public Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.48px;
}
.containerFourTitle{
    align-self: stretch;
    color: #FF98FF;
/* H3 */
font-family: Public Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: 0.48px;
}
.countainerFourDescription{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
width: 320px;

}
.countainerFourParagraph{
    color: rgba(255, 255, 255, 0.70);

/* subtitle */
font-family: Public Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 125% */
letter-spacing: 0.24px;
}
.countainerFourParagraphTow{
    color: rgba(255, 255, 255, 0.50);

/* text */
font-family: Public Sans;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
letter-spacing: 0.16px;
}
.countainerTree{
 z-index: 1;
 display: flex;
width: 337px;
height: 985px;
padding: 42px 55px;
flex-direction: column;
align-items: flex-start;
gap: 33px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #D473F1;

}
.Keyword{
    z-index:1 ;
    top:2000px;

    position: absolute;
    right:30px;
 height:435px ;
 width: 381px;
}
.Computer{
    position: absolute;
    height:100px ;
    width: 100px;
}
.Ellipse2Section2{
    position: absolute;
    top:2000px;
    left: 0;
    height: 790px;
    width: 700px;

}
.LargeCubeSection2{
    z-index: 2;
    position: absolute;
    top:2400px;
    width:350px ;

    left: 5px;

}
.Hemisphere{
    position: absolute;
    top:2050px;
    right:5px;
    z-index: 1;
}
.Ellipse6{
position: absolute;
top:2300px;
right: 0;
}

.doneDescription{
    display: flex;
align-items: center;
gap: 15px;
align-self: stretch;
}
.doneFlex{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.containerSection4{
    display: flex;
    max-width: 500px;
    padding: 21px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    flex: 1 0 0;
}
.sectionFourTile{
    color: var(--base, #FFF);

    /* H3 */
    font-family: Public Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.48px;
}
.doneparagraph{
    color: #BFACBF;

    /* subtitle */
    font-family: Public Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    letter-spacing: 0.24px;
}
.Buton_sectionfour{
    padding-left: 38px;
}
.sectionFiveTitle{
    padding: 0px 10px;
    padding-top: 175px;
    color: #FFF;
text-align: center;

/* H3 */
font-family: Public Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: 0.48px;
}
.sectionFiveTitle2{
    padding: 0;
    color: #D473F1;

/* H3 */
font-family: Public Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.48px;
}
.sectionFive{
display: inline-flex;
margin-left:55px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 59px;
}

.countainerOneSectionFive{
    display: flex;
    width: 1133px;
    height: 1000px;
    justify-content: center;
    align-items: flex-start;
    gap: 92px;
}
.countainerDefaultFree{
    display: flex;
    padding: 48px 96px;
    height: 800px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
border: 1px solid #D473F1;
backdrop-filter: blur(10px);

}
.countainerPro{
    display: flex;
padding: 48px 96px;
height: 800px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
border: 1px solid #D473F1;
background: linear-gradient(113deg, rgba(211, 74, 246, 0.20) -8.73%, rgba(211, 74, 246, 0.20) 22.08%, rgba(255, 255, 255, 0.00) 109.23%);
backdrop-filter: blur(10px);
}
.doneFlex2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.doneDescription2{
    display: flex;
padding: 12px 0px;
align-items: center;
gap: 24px;
}
.doneparagraph2{
    color: #BFACBF;

/* subtitle */
font-family: Public Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 125% */
letter-spacing: 0.24px;
}
.countainerDefaultFreeTitle{
    align-self: center;
    color: var(--primery, #FFAFF5);
text-align: center;
/* H1 */
font-family: Public Sans;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.countainerDefaultFreeTitle2{
    align-self: center;
    color: var(--primery, #FFAFF5);
text-align: center;

/* H2 */
font-family: Public Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.countainerDefaultFreeParagraph{
    color: #BFACBF;
/* subtitle */
font-family: Public Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 125% */
letter-spacing: 0.24px;
}
.startforfreeButton{
    align-self: center;
}
.starFirstPosition{
    z-index: 10;
    position: absolute;
    top:3935px;
    right:30px;
    width: 155px;
height: 155px;
}
.starSecondPosition{
    z-index: 10;
    width: 114px;
    height: 114px;
    position: absolute;
    right:520px;
    top:4145px;
  
}
.starThirdPosition{
    position: absolute;
    right:100px;
    top:4394px;
    z-index: 10;
    width: 58px;
height: 58px;

}
.addedSectionOne{
    display: inline-flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.IconImage{
    width: 96px;
height: 96px;
flex-shrink: 0;

}
.IconTitle{
    color: var(--base, #FFF);
text-align: center;

/* subtitle */
font-family: Public Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 125% */
letter-spacing: 0.24px;
align-self:center;
}
.SameCountainer{
    display: flex;
width: 200px;
height: 330px;
padding: 24px;
flex-direction: column;
align-items: center;
gap: 24px;
border-radius: 12px;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(10px);
}
.cpuCountainer{
    display: flex;
width: 200px;
height: 330px;
padding: 24px;
flex-direction: column;
align-items: center;
gap: 24px;
border-radius: 12px;
border: 2px solid #D473F1;
background: rgba(219, 77, 255, 0.20);
backdrop-filter: blur(10px);
}
.IconParagraph{
    color: rgba(255, 255, 255, 0.50);
text-align: center;

/* text */
font-family: Public Sans;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
letter-spacing: 0.16px;
align-self: stretch;
}
.sectionAddedTwo{
display: flex;
position: relative;
width: 1160px;
height: 500px;
padding: 48px;
align-items: center;
gap: 200px;
flex-shrink: 0;
border-radius: 60px;
backdrop-filter: blur(10px);
}
.ControleWeb{

    display: flex;
max-width: 450px;
padding: 21px 48px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;


border-radius: 60px;
backdrop-filter: blur(10px);
}

.pikBackground{
    position: relative;
    display: inline-block;
width: 370px;
height:530px;
flex-shrink: 0;
border-radius: 9.6px;
background: #D34AF6; 
}
.controleWebTitle{
    color: var(--base, #FFF);

/* H3 */
font-family: Public Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: 0.48px;
align-self: stretch;
}
.controleWebParagraph{
    color: rgba(255, 255, 255, 0.50);

/* Button text */
font-family: Public Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sectionfourTitlePink{
    color: var(--Secondary, var(--base, #D34AF6));

    /* H3 */
    font-family: Public Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.48px;
}
.sectionfourTitleCountainer{
padding: 0px 48px;
gap: 10px;
align-self: stretch;
}




.DoughnutCard{
    opacity: 0;
    visibility: hidden;
    position:absolute;
    width: 224px;
    height: 300px;
    right:590px;
    top:40px;
    z-index: 10;
    transition: all 0.5s ease; 

}
    .DoughnutCardTransition{
        opacity: 1;
        visibility: visible;
        transform: translateX(290px);  
        
    }   
.earningCard{
 opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 140px;
    bottom: -230px;
    width: 330px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 11.941px;
    background: #2E2B43;
    transition: all 0.5s ease; 
    z-index: 10;
}
  
    .earnigCardTransition{
        opacity: 1;
        visibility: visible;
        transform: translateY(-270px);    
    }





    .visitorCard {
        opacity: 0;
        visibility: hidden;
           position: absolute;
           right: 0px;
           top: 40px;
           width: 224px;
           height: 300px;
           transition: all 0.5s ease; 
           z-index: 10;
              }
              
    .visitorCardTransition{
        opacity: 1;
        visibility: visible;
        transform: translateX(-90px);
      
    }
   .second-container-section-four{
    position: relative;
    background-color: green;
    width: 500px;
    height: 450px;
   }
   .search-Engine-image{
  position: absolute;
 top:4300px;
  width:500px;
  height:450px;
  right: 250px;

   }
.Pink-Image{
    position: absolute;
}

.search-Engine-image-transition{
    
}